* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  line-height: 1.5;
}

header {
  font-size: 2rem;
  height: 10vh;
  box-shadow: 0px 4px 50px 5px rgba(0, 0, 0, 0.1);
}

header ul {
  list-style-type: none;
  display: flex;
  width: 100vw;
  justify-content: flex-end;
  gap: 4rem;
  padding: 2vh 5vw;
}

.header-logo {
  margin-right: auto;
  font-size: 2em;
}

.nav-btn {
  padding-top: 0.7em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: gray;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 100vw;
  justify-content: baseline;
  padding-top: 10rem;
}

.hero--header {
  margin: 5% 0 0;
  font-size: 10rem;
}
