* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  line-height: 1.5;
}

header {
  font-size: 2rem;
  height: 10vh;
  box-shadow: 0px 4px 50px 5px rgba(0, 0, 0, 0.1);
}

header ul {
  list-style-type: none;
  display: flex;
  width: 100vw;
  justify-content: flex-end;
  gap: 4rem;
  padding: 2vh 5vw;
}

.header-logo {
  margin-right: auto;
  font-size: 2em;
}

.nav-btn {
  padding-top: 0.7em;
}

a {
  text-decoration: none;
  color: black;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 100vw;
  justify-content: baseline;
  padding-top: 10rem;
  font-size: 2rem;
}

.hero--header {
  margin: 5% 0 0;
  font-size: 8rem;
}

.about-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 80%;
  width: 100vw;
  height: 100vh;
  background-color: #e3fdfd;
}

.about--me-heading {
  grid-column: 1 / 3;
  justify-self: center;
  align-self: center;
  font-size: 3rem;
}

.about--me-summary {
  max-width: 40ch;
  justify-self: end;
  font-size: 1.7rem;
  margin-right: 10%;
}

.about--me-summary > button {
  font-size: 1.7rem;
  padding: 0.5rem 1.5rem;
  border-radius: 5%;
  margin-top: 1rem;
  background-color: #71c9ce;
}

.sub-heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about--me-skills {
  margin-left: 10%;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  font-size: 1.7rem;
  gap: 1rem;
}

.skill-block {
  background-color: #71c9ce;
  padding: 0.5rem 1rem;
  border-radius: 5%;
  box-shadow: 2px 5px 15px -4px #2c3e50;
}

.projects {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-heading {
  margin-top: 1rem;
  height: 20%;
  align-content: center;
}

.heading-text {
  text-align: center;
  font-size: 3rem;
}

.project-body {
  align-content: center;
}

.project-body-entry {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2rem;
}

.project-description {
  font-size: 1.5rem;
  margin-left: 10%;
}

.project-image {
  justify-self: end;
  margin-right: 10%;
  height: 30vh;
  width: 50%;
}
