* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  width: 100vw;
}

.section--heading {
  font-size: 3rem;
}

/* HEADER START */

header {
  font-size: 1.5rem;
  box-shadow: 0px 4px 50px 5px rgba(0, 0, 0, 0.1);
}

.sticky {
  position: fixed;
  z-index: 1001;
  background-color: white;
  opacity: 0.95;
}

header ul {
  list-style-type: none;
  display: flex;
  width: 100vw;
  justify-content: flex-end;
  gap: 4rem;
  padding: 0 5vw;
}

.header-logo {
  margin-right: auto;
  font-size: 2em;
}

.nav-btn {
  padding-top: 0.7em;
}

.icon {
  display: none;
  padding-top: 0.7em;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 5vw;
}

a {
  text-decoration: none;
  color: black;
  transition: all ease-in-out 100ms;
}

.nav-link:hover {
  color: #2c3e50;
  font-weight: 600;
}

.section {
  transition: transform 1s, opacity 1s;
  padding-top: 5rem;
}

.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}

#hero {
  height: 100vh;
  padding: 15rem 2.5rem 5rem;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}

.hero--header {
  font-size: 5rem;
  margin-top: 8rem;
}

.hero--subtext {
  font-weight: 400;
}

/* ABOUT ME START */
.about-me {
  background-color: #e3fdfd;
}

.about-me-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 5rem 2.5rem 10rem;
  gap: 10%;
}

.about--me-heading {
  text-align: center;
}

.about--me-summary {
  font-size: 1.7rem;
  max-width: 40ch;
  margin-bottom: 3rem;
}

.about--me-summary > button {
  font-size: 1.7rem;
  padding: 0.5rem 1.5rem;
  border-radius: 5%;
  margin-top: 1rem;
  background-color: #71c9ce;
}

.sub-heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about--me-skills {
  width: 30%;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.7rem;
  gap: 1rem;
}

.skill-block {
  background-color: #71c9ce;
  padding: 0.5rem 1rem;
  border-radius: 5%;
  box-shadow: 2px 5px 15px -4px #2c3e50;
}

/* PROJECTS START */

.projects {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0 10rem 0;
}

.project-heading {
  margin-top: 1rem;
  height: 20%;
  align-content: center;
  text-align: center;
}

.project-body {
  align-content: center;
}

.project-intro-blurb {
  font-style: italic;
  margin-bottom: 5rem;
  font-size: 1rem;
}

.project-body-entry {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2rem;
}

.project-description {
  font-size: 1.3rem;
  width: 40ch;
}

.project-description > h4 {
  font-size: 1.7rem;
}

.project-description > ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin-top: 0.5rem;
}

.project-image {
  justify-self: stretch;
}

.project-image > img {
  height: 400px;
}

/* TESTIMONIAL START */

.testimonials {
  text-align: center;
  width: 40vw;
  margin: 0 auto;
}

.carousel {
  position: relative;
  top: 5rem;
  height: 28rem;
  padding: 0 1rem;
}

.testimonial-block {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  transition: transform 1s;
}

blockquote {
  margin-bottom: 2rem;
}

.testimonial-block > img {
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.arrow-button {
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.carousel--btn-left {
  transform: translate(-25rem, -10rem);
}

.carousel--btn-right {
  transform: translate(25rem, -10rem);
}

.dots {
  transform: translateY(-8rem);
}

.dots-dot {
  border: none;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  margin: 0 0.5rem;
}

.dot-active {
  background-color: gray;
}

/* CONTACT START */

.contact {
  display: flex;
  width: 100vw;
  justify-content: center;
  gap: 3rem;
}

.contact-me--text > h4 {
  font-size: 1.5rem;
}

/* FOOTER START */

footer {
  background-color: #2c3e50;
  color: white;
}

footer p {
  font-size: 1rem;
}

.footer-top {
  border-bottom: 2px solid black;
  width: 60%;
  margin: 3rem auto;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
}

.footer-text {
  width: 40ch;
}

.copyright {
  padding-bottom: 3rem;
  text-align: center;
}

/* Device Breakpoints */
@media screen and (min-width: 320px) and (max-width: 480px) {
  body {
    background-color: orange;
  }

  #hero {
    padding: 5rem 1.5rem;
  }

  .about-me-container {
    flex-direction: column;
  }

  .about--me-skills {
    width: 100%;
  }

  .projects {
    padding-bottom: 3rem;
  }

  .project-heading {
    width: 35ch;
    padding: 0 1rem;
  }

  .project-image {
    justify-self: center;
  }

  .project-image > img {
    padding: 1rem;
    width: 350px;
  }

  .project-description {
    font-size: 1rem;
    width: 35ch;
    padding: 0 1rem;
  }

  .project-body-entry {
    grid-template-columns: 1fr;
  }

  .testimonial-block {
    width: 350px;
    height: 350px;
  }

  .carousel--btn-left {
    transform: translate(-5rem, -6rem);
  }

  .carousel--btn-right {
    transform: translate(5rem, -6rem);
  }

  .contact {
    flex-direction: column;
  }

  .contact > iframe {
    width: 100%;
    height: 1500px;
    margin: 0;
    padding: 0;
  }

  .contact-me--text {
    text-align: center;
  }

  .footer-top {
    width: 80%;
  }
}

@media screen and (min-width: 481px) and (max-width: 600px) {
  body {
    background-color: skyblue;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .about-me-container {
    flex-direction: column;
  }

  .about--me-heading {
    /* text-align: left; */
    padding-left: 2.5rem;
  }

  .about--me-skills {
    width: 100%;
  }
  .project-intro-blurb {
    width: 50ch;
  }

  .project-body-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-image {
    width: 100%;
  }

  .project-image > img {
    width: 100%;
  }

  .carousel--btn-left {
    transform: translate(-8rem, -5rem);
  }

  .carousel--btn-right {
    transform: translate(8rem, -5rem);
  }

  .contact {
    flex-direction: column;
  }

  .contact > iframe {
    width: 100%;
    height: 900px;
    margin: 0;
    padding: 0;
  }

  .contact-me--text {
    text-align: center;
  }

  body {
    background-color: blue;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-color: purple;
  }
}

@media screen and (min-width: 992px) {
  body {
    background-color: green;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-color: yellow;
  }
}

@media screen and (max-width: 992px) {
  .nav li:not(:first-child) {
    display: none;
  }
  .icon {
    display: block;
  }
  .responsive {
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .responsive li:not(:first-child) {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
